/* 네비게이션 바 스타일 */
.navbar {
    display: flex;
    /* 가로로 나열 */
    align-items: center;
    /* 세로 중앙 정렬 */
    background-color: #333;
    /* 배경색: 어두운 회색 */
    padding: 5px;
    /* 여백 설정 */
    position: fixed;
    /* 화면 상단에 고정 */
    top: 0;
    /* 상단 위치 고정 */
    width: 100%;
    /* 화면 너비 전체 사용 */
    z-index: 1000;
    /* 다른 요소 위로 올리기 */
    color: white;
    /* 텍스트 색상: 흰색 */
}

.logo {
    width: auto;
    height: 50px;
    margin-left: 20px;
}
