.Unity_Game {
    position: relative;
    z-index: 10;
    color: white;
    padding: 50px;
    text-align: center;
}

#gamePlace {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100%;
    min-height: 80vh;
    overflow: hidden; 
}

#gamePlace iframe {
    width: 1920px;
    height: 1080px;
    transform-origin: top left;
}