.Unity_Game {
    position: relative;
    z-index: 10;
    color: white;
    padding: 50px;
    text-align: center;
}

#gamePlace {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#gamePlace iframe {
    width: 100%;
    height: 100%;
}

#unity-game-iframe {
    width: 100%;
    height: 100%;
}